.scoreTh {
  text-align: center;
  @apply bg-gray-900;
  position: sticky;
  top: 52px;
  z-index: 1;
  border-bottom: 2px solid var(--table-border-color);
  border-left: 1px solid var(--table-border-color);
  min-width: 64px;
  font-size: 0.9rem;
}

.scoreThead {
  height: 40.5px;
}

.table {
  border-spacing: 0px;
  margin-bottom: 4rem;
  margin-left: auto;
  margin-right: auto;
}

.scoreTd {
  text-align: center;
  border-bottom: 1px solid var(--table-border-color);
  border-left: 1px solid var(--table-border-color);
  padding: 3px 1px;
  white-space: nowrap;
  font-size: 0.9rem;
}

.teamNameTd {
  text-align: left;
}

.small {
  font-size: 0.7rem;
  @apply text-slate-400;
}

.rankTh {
  min-width: fit-content;
  padding-left: 4px;
  padding-right: 4px;
}

.progress100 {
  --tw-bg-opacity: 1;
  background-color: rgb(20 83 45);
}

.progress90 {
  background-color: rgb(39 79 40);
}

.progress80 {
  background-color: rgb(57 75 34);
}

.progress70 {
  background-color: rgb(76 71 29);
}

.progress60 {
  background-color: rgb(94 67 23);
}

.progress50 {
  background-color: rgb(113 63 18);
}

.progress40 {
  background-color: rgb(116 56 20);
}

.progress30 {
  background-color: rgb(119 49 22);
}

.progress20 {
  background-color: rgb(121 43 25);
}

.progress10 {
  background-color: rgb(124 36 27);
}

.progress0 {
  background-color: rgb(127 29 29);
}

.pending {
  background-color: rgb(14 165 233);
}

.firstToSolve {
  background-color: rgb(21 128 61);
}
